#light {
    /* background-image: radial-gradient(rgba(255,248,131,1),rgba(255,248,131,1),rgba(255,248,131,1),rgba(255,248,131,1), */
    /* rgba(255,248,131,1),rgba(255,248,131,1), */
    /* rgba(0,0,0,0),rgba(0,0,0,0), */
    /* rgba(0,0,0,0),rgba(0,0,0,0) */
    /* ); */
    background-image: radial-gradient(rgba(255,248,131,0.2),
    rgba(1,1,1,0.95),
    rgba(1,1,1,0.95),
    rgba(1,1,1,0.95),
    rgba(1,1,1,0.95),
    rgba(1,1,1,0.95),
    rgba(1,1,1,0.95),
    rgba(1,1,1,0.95),
    rgba(1,1,1,0.95));
}
/* body { */
/*     background-image: url("HomeBack.png"); */
/* } */
/* #background { */
/*     background-image: url("HomeBack.png"); */
/* } */
#eye {
    border-radius: 50px 50px 50px 50px;
    background-image: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0),rgba(255,248,131,0.5),rgba(215,63,68,0));
}
#sidebar {
    background: #311a04;
}
#item1,
#item2,
#item3,
#item4,
#item5,
#item {
    background: #311a04;
    border: rgba(255,248,131,1) 4px solid; /* #fff883 */
}
