#background {
    background-image: url("img/projectfeedback.png");
}
#light {
    background-image: radial-gradient(rgba(255,103,108,1),rgba(255,103,108,1),rgba(255,103,108,1),rgba(255,103,108,1),
    rgba(255,103,108,1),rgba(255,103,108,1),
    rgba(0,0,0,0),rgba(0,0,0,0),
    rgba(0,0,0,0),rgba(0,0,0,0)
    );
}
#sidebar {
    background: #211200;
}
#eye {
    border-radius: 0px 50px 50px 50px;
    background-image: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0),rgba(255,103,108,0.5),rgba(215,63,68,0));
}
#item1,
#item2,
#item3,
#item4,
#item5,
#item {
    border: rgba(255,103,108,1) 4px solid; 
}
